{% extends '::base.html.twig' %}
{% block body %}
    <div class="texto">
        <h1>Landing Page
            <h1>
                <div>

                    <a href="/coche/1">
                        <button type="button" name = "1">Ferrari</button>
                        <br><br>

                        <a href="/coche/2">
                            <button type="button" name = "2">Lamborghini</button>

{% endblock %}